<div class="main">
  <div>
    <ui-view></ui-view>
  </div>

  <div class="channel create">
    <a ui-sref="shows.create">+ create show</a>
  </div>

  <div class="col-md-9 col-xs-11">
    <h4>UPCOMING SHOWS</h4>
    <table class="show-table">
      <tbody>
        <tr>
          <th>
            Date
          </th>
          <th>
            Day
          </th>
          <th>
            Venue
          </th>
        </tr>
        <tr ng-repeat="show in showsCtrl.upcomingShows">
          <td>
            <a id="anchor{{show.$id}}" ui-sref="showDetail({showId: show.$id})" >{{ show.date * 1000 | date:'mediumDate' }}</a>
          </td>
          <td>
            {{ show.date | date:'EEE' }}
          </td>
          <td>
            {{ show.venue }}
          </td>
          <td ng-show="$last && (show.date * 1000) > showsCtrl.today && !((show.date * 1000) == showsCtrl.today)">
            NEXT SHOW
          </td>
          <td ng-show="$last && !((show.date * 1000) > showsCtrl.today) && (show.date * 1000) == showsCtrl.today">
            TODAY
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-9 col-xs-11 pastShows">
    <h4>PAST SHOWS:</h4>
    <table class="show-table">
      <tbody>
        <tr ng-repeat="show in showsCtrl.lastSevenShows">
          <td>
            <a id="anchor{{show.$id}}" ui-sref="showDetail({showId: show.$id})" >{{ show.date * 1000 | date:'mediumDate' }}</a>
          </td>
          <td>
            {{ show.date | date:'EEE' }}
          </td>
          <td>
            {{ show.venue }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="fadeDiv" />
  </div>
</div>